*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body{
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.app{
    background: rgb(229, 226, 226);
    padding: 0px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    width: 50vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.top{
    background-color: blueviolet;
    padding: 5px;
}